# Run the system backup helper in the user session, without root privileges.
[Unit]
Description=Prune Restic repository on external HDD

[Service]
Type=oneshot
ExecStart=%h/.local/bin/backup hdd prune
# Give interactive applications priority.
Nice=10
IOSchedulingClass=idle
